@model WebApplicationOrt_Basico.Models.Tarea

@{
    ViewData["Title"] = "Eliminar Tarea";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Eliminar Tarea</h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">¿Estás seguro de que deseas eliminar esta tarea?</h3>
                    <div class="mt-4">
                        <h4>Tarea</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-4">Título</dt>
                            <dd class="col-sm-8">@Model.Titulo</dd>
                            <dt class="col-sm-4">Descripción</dt>
                            <dd class="col-sm-8">@Model.Descripcion</dd>
                            <dt class="col-sm-4">Estado</dt>
                            <dd class="col-sm-8">@Model.Estado</dd>
                            <dt class="col-sm-4">Fecha de Creación</dt>
                            <dd class="col-sm-8">@Model.FechaCreacion</dd>
                        </dl>
                    </div>
                    <form asp-action="Eliminar" class="mt-4">
                        <input type="hidden" asp-for="IdTarea" />
                        <div class="d-flex justify-content-between">
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>